<div style="width:410p;height:460px;border:1px solid #A4875D;border-radius: 0px 0px 4px 4px; ;margin-left:350px;background-color:whilte;box-shadow: 0 0 00px 0px #D4C0AA inset;">


<div class="auth-form-header"> <h3>Sign up</h3> </div>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

   <div><%= f.label :name %><br />
  <%= f.text_field :username, :autofocus => true %></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
</div>