
 <div style="width:310p;height:460px;border:1px solid #D8DEE2;border-radius: 8px 8px 8px 8px; solid;margin-left:350px;margin-top:100px;background-color:whilte;font-weight: bold;box-shadow: 0 0 00px 0px #D4C0AA inset;">

<div class="auth-form-header" margin-left:75px> <h4>Sign up for learning experience</h4> </div>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  

   <div style="margin-left:75px; margin-top:10px;"><%= f.label :Username %></div>
   <div style="margin-left:75px;margin-top:10px"><%= f.text_field :username, :autofocus => true %></div>

   <div style="margin-left:75px;margin-top:10px"> <%= f.label :email %></div>
   <div style="margin-left:75px;margin-top:10px"> <%= f.email_field :email %></div>


   <div style="margin-left:75px;margin-top:10px"> <%= f.label :password %></div>
   <div style="margin-left:75px;margin-top:10px"> <%= f.password_field :password %></div>

   <div <div style="margin-left:75px;margin-top:10px"> <%= f.label :password_confirmation %></div>
   <div style="margin-left:75px;margin-top:10px"> <%= f.password_field :password_confirmation %></div>

   <div style="margin-left:75px;margin-top:20px"> <%= f.submit "Sign up",:class => 'btn btn-info btn-small' %></div>
   <% end %>

<div style="margin-left:255px;margin-top:-30px";><%= render "devise/shared/links" %></div>
</div>
