<% if @article.comments.count  >= 1 %>
 <div id="comment-body">
  <div id="comment-inner-body"> 
    <div id="tabula"> 
      <ul id="tabula">
       <li> <div style="color: #0077CC;margin-right:10px; font-size: 1.0em;margin-top:8px;background-color:#;"> <strong> <%= comment.user.username if comment.user %></strong></div></li> 
       <li> <div style="color:;margin-right:0px; font-size: 1.0em;margin-top:8px;background-color:#;"> added a comment </div></li>
       <li> <div style="color: #0077CC; background-color:; margin-top:8px; margin-left:10px;"> <p> <%= time_ago_in_words(comment.created_at.in_time_zone("Asia/Calcutta"))  unless comment.created_at.nil? %> ago  </p></div></li>
      </ul>
     </div>  
    </div>
  <div id="comment-content"> 
    <%= comment.content %>
    </div>
      <div id="tabula"> 
       <ul id="tabula">
        <li> <div style="color: #0077CC; background-color:; margin-top:-8px; margin-left:0px;"> <%= link_to "edit", edit_article_comment_path(@article ,comment) %> </div></li>
         <li> <div style="color: #0077CC; background-color:; margin-top:-8px; margin-left:15px;"> <%= link_to 'Delete', article_comment_path(@article,comment), :confirm => 'Are you sure?', :method => :delete %> </div></li>
         <li> <div style="color: #0077CC; background-color:; margin-top:-8px; margin-left:15px;"> <%= link_to 'Reply' %> </div></li>
        </ul>
        </div>
        </div>
      
      <% else %>
     <div style="color:#0077CC;margin-left:25px;font-size:1.4em;"> be first to comment</div>
    <% end %>

  
 




