<%= form_for @article, :html => { :class => '' } do |f| %>
  <div>
    <%= f.label :title, :style => "margin-top:10px;" %>
    <div>
      <%= f.text_field :title, :style => "width:730px; height:30px; border: 1px solid #66c9ee;margin-top:10px; background-color:#FFFFFF;" %>
    </div>
  </div>
  <div>
    <%= f.label :body, :class => 'control-label' %>
   <%= f.text_area :body, :style => "width:730px; height:250px; border: 1px solid #66c9ee;margin-top:10px; background-color:#FFFFFF;" %>
  <%= f.label :tag_list, :style => "margin-top:10px" %><br />
  <%= f.text_field :tag_list, :style => "width:730px; height:30px; border: 1px solid #66c9ee;margin-top:0px; background-color:#FFFFFF;" %>
  <div style="margin-top: 20px">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                articles_path, :class => 'btn' %>
  </div>
<% end %>
