<%- model_class = Article -%>
<div class="">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<div style="border: 4px solid #1763A4;border-radius: 4px 4px 4px 4px;margin: 0 0 20px; padding: 20px 20px 10px;">

    <% @articles.each do |article| %>
    <div style="border: 1px solid #51702E;border-radius: 4px 4px 4px 4px;margin: 0 0 20px; padding: 20px 20px 10px;height:280px">
       <div style="color:#51702E"><h2><%= article.title %></h2></div>
       <div style="color:#666666"> <%= article.created_at %></div> 
       <div> <%= truncate(article.body, :length => 500, :separator => ' ') %></div>  
       <% if current_user.try(:is_admin) %>
       
     <%= link_to "edit",edit_article_path(article), :class => 'btn btn-warning btn' %>
     <%= link_to "delete",article_path(article),:method => :delete,:confirm => 'Are you sure?',:class => 'btn  btn-danger' %>
     <% end %>
     <%= link_to "VIEW MORE...",article_path(article), :class => 'btn btn-primary' %> 
     </li>
     </div>
    <% end %>
<%= link_to "Create new Article", new_article_path, :class => 'btn btn-large btn-primary' %>
