<%- model_class = Article -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="horizontal">
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @article.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:body) %>:</strong></dt>
  <dd><%= @article.body %></dd>
</dl>
<div class="form">
  <%= link_to "back",articles_path, :class => 'btn btn-inverse'  %>
  <%= link_to "edit", edit_article_path(@article), :class => 'btn btn-warning btn' %>
  <%= link_to "delete",article_path(@article),:method => :delete,:confirm => 'Are you sure?',:class => 'btn  btn-danger' %>
</div>
<h3>Comments</h3>
<%= render partial: 'articles/comment', collection: @article.comments %>

