
  <div style="border: 0px solid #1763A4;border-radius: 4px 4px 4px 4px;margin: 0 0 20px; padding: 20px 20px 10px; background: none repeat scroll 0 0 #66c9ee; width: 90% ">

  <div style="border-bottom: none:border: 0px solid #666666;border-radius: 4px 4px 4px 4px;margin: 0 0 20px; padding: 20px 20px 10px;; background: none repeat scroll 0 0 #FFFFFF ">
  <div style="color:#51702E"><h2><%= @article.title %></h2></div>
  <div id="tabs"> 
     <ul id="tabs">
     <li><div style="color:#82b548; font-size: 1.4em;">  <%= time_ago_in_words(@article.created_at.in_time_zone("Asia/Calcutta")) %> ago </div></li>

      <li> <div style="color:#4895d1; font-size: 1.4em;">  <%= @article.user.username if @article.user %></div></li>
      <% if ! @article.comments.empty? %>
      <li><div style="color:#CCD600; font-size: 1.4em;">  <%= @article.comments.size %> comments</div></li>
     <% else %>
          <li><div style="color:#CCD600; font-size: 1.4em;"> no comment </div></li>
      <% end %>

      <% @article.tags.each do |tag| %>
      <li><div style="font-size: 1.4em"><%= link_to tag.name, tag_path(tag) %></div></li>
      <% end %>
     
     </ul>
   </div>
  <hr style="border: 1px solid #2e77bb; margin-top:35px">
  <div style="font-size: 1.2em"><%= @article.body %></div>
  </div>

  <div class="form">
    <%= link_to "back",articles_path, :class => 'btn btn-inverse'  %>
    <% if current_user.try (:is_admin) %>
    <%= link_to "edit", edit_article_path(@article), :class => 'btn btn-warning btn' %>
    <%= link_to "delete",article_path(@article),:method => :delete,:confirm => 'Are you sure?',:class => 'btn  btn-danger' %>
    <% end %>
  </div>
  </div>
    
    <div style="border: 2px solid #1763A4;border-radius: 4px 4px 4px 4px;margin: 0 0 20px; padding: 20px 20px 10px; background: none repeat scroll 0 0 #ffffff; width: 85% ">
    <% unless @article.comments.empty? %>
    <h5> <%= @article.comments.size %> comments</h5>
    <% end %>
    <%= render :partial => 'comment_form' %>
    <hr style="border: 1px solid #66C9EE;">
    <% @article.comments.each do |c| %>
    <% unless  c.nil? %>
    
   <div style="margin:left:50px; margin:right:50px"> <%= render partial: 'articles/comment', :locals => { :comment => c } %> </div>
    <% end %>
    <% end %>
  </div>
    




