<div class="row-fluid">
  <div class="span12">
  <div class ="span9">
    <div class ="row-fluid">
      
      <div id="upperborder">
          <div id="lowerborder">
            <div style="color:#1fb2e8;font-size:2.3em;"><%= @article.title %></div>
             <div id="tabs"> 
              <ul id="tabs">
              <li>  <%= time_tag(@article.created_at.in_time_zone("Asia/Calcutta")) %> </li>
              <li>   <%= @article.user.username if @article.user %></li>
               <li>
                 <% unless @article.comments.empty? %>
                 (<%= @article.comments.size %>) comments
                 <% end %>
                 </li>
                 <li>
                 <% @article.tags.each do |tag| %>
                  <%= link_to tag.name, tag_path(tag) %>
                <% end %>     
              </li>
             </ul>
           </div>            

         <hr id="upperline">
         <div style="font-size: 1.2em"><%= @article.body %></div>

       <div id="tabs"> 
          <ul id="tabs">
            <div style="margin-top:20px; margin-left:10px"> <li> <%= link_to "back",articles_path, :class => ''  %></li></div>
             <% if current_user.try (:is_admin) %>
              <div style="margin-top:20px;margin-left:-10px""> <li> <%= link_to "edit", edit_article_path(@article), :class => '' %></li> </div>
              <div style="margin-top:20px"> <li> <%= link_to "delete",article_path(@article),:method => :delete,:confirm => 'Are you sure?',:class => '' %></li> </div>
            <% end %>
          </ul>
        </div>       

       <div id="fabs">
         <ul id="fabula">
           <div style="margin-left:250px; font-size:1.2em;color:#1fb2e8;margin-top:-0px">  Viewed: <%=@article.impression_count %> times, 
           <% if (@article.created_at != @article.updated_at) %>
           edit: <%= time_ago_in_words(@article.updated_at) %> ago,
           <% end %>
           <% if ! @article.comments.empty? %>
           Active: <%=  time_ago_in_words(@article.comments.last.created_at) %> ago
           <% end %>
           </div>
         </ul>
       </div>
 
       <hr style="border: 1px solid #E0E0F0; margin-top:50px">
       <div id="commentform">
         <%= render :partial => 'comments/comment_form' %>
           <% @article.comments.each do |c| %>
             <% if !c.nil? %>
               <div id ="commentdisplay"> <%= render partial: 'comments/comment', :locals => { :comment => c } %> </div>
             <% end %> 
            <% end %> 
       </div> 
      </div>
     </div>
   </div>
      
       <div class="span3">    
         <div id="popular"> 
          <% if !@article_popular.empty? %>
            <div id="headerpopular"> most viewed articles </div>
             <% @article_popular.each do |article_popular| %>
              <div id="popular-title">  <%= link_to  truncate(article_popular.title, :length => 35, :separator => ' '),  article_path(article_popular) %></div>
             <% end %>
          <% end %>
        </div>
     </div>
   </div>
       
       <% if !@related_articles.empty? %>
          <div id = "related-border">
          <div id="related-title"> Related articles </div>
          <% @related_articles.each do | related_article | %>       
          <div id="related-title-link">  <%= link_to  truncate(related_article.title, :length => 35, :separator => ' '),  article_path(related_article) %></div>
        <% end %>
        </div> 
        <% else %>
          <div id="related-border">
          <div id="ygm"> You got us ! </div>
          <div id="nofound"><h3> no related article found :(</h3></div>
          </div> 
        <% end %>
    
