

<div style="color:#0077CC; font-size: 2.3em"> articles tagged with <%= @tag.name %></div>
<div style="border: 0px solid #1763A4;border-radius: 4px 4px 4px 4px; padding: 20px 20px 10px; background: none repeat scroll 0 0 #ffffff; width: 100%; margin-left:110px;margin-top:00px">
<% if !@tag.articles.nil? %>
<div id="tabs"> 
  <ul id="tabs">
  <% @tag.articles.each do |article| %>
    <li><div style="color:#CCD600; font-size: 1.2em;"><%= link_to article.title, article_path(article) %></div></li>
    <li><div style="color:#CCD600; font-size: 1.2em;"> Posted by </div></li>
    <li> <div style="color:#4895d1; font-size: 1.2em">  <%= article.user.username if article.user %></div></li>
       <li><div style="color:#CCD600; font-size: 1.2em;"> at </div></li>
    <li><div style="color:#82b548;">  <%= time_tag(article.created_at.in_time_zone("Asia/Calcutta")) %> </div></li>   
    <% if !article.nil? %>
      <li><div style="color:#CCD600; font-size: 1.2em;">  <%= article.comments.size %> comments </div></li>
     <% end %>
  <% end %>
  </ul>
 </div>
<% end %>
</div>
